<div class="container_big-card">

    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX3im72_yGUUga-pVFR8To-f9NpUTeR0K-yA&usqp=CAU" height="200px" width="400px" alt="">
    </div>

    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan lacus vel rhoncus feugiat. Suspendisse dapibus eros a pharetra tempor. Nunc sit amet convallis felis. Pellentesque sit amet maximus felis, non mollis purus. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In gravida massa nec risus tempus, id viverra est mollis. Morbi rhoncus nulla leo, id ultricies arcu hendrerit nec.</p>
    </div>

</div>
